@charset "utf-8";

/*초기화*/

*{
    margin: 0;
    padding: 0;
}
body{
    font: 1em 'Times New Roman', serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.row_center{
    width: 960px;
    margin: 0 auto;
}

/* header .....*/
#main_header{
    height: 150px;
    position: relative;
}

#main_gnb{
    position: absolute;
    top: 10px;
    right: 0;
}

#main_lnb{
    position: absolute;
    bottom: 10px;
    right: 0;
}

#title{
    font-family: 'Henny Penny', cursive;
    padding-top: 25px;
    padding-left: 20px;
}

#main_gnb ul li{
    float: left;
}
#main_gnb ul li a{
    display: block;
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 13px;
}
#main_gnb ul li:first-child a{
    border-radius: 15px 0 0 15px;
}
#main_gnb ul li:last-child a{
    border-radius: 0 15px 15px 0;
}
#main_gnb ul li:hover a{
    background: #000;
    color: #fff;
}

/*navi 2*/
#main_lnb ul li{
    float: left;
}
#main_lnb ul li a{
    display: block;
    padding: 10px 20px;
    border: 1px solid #000;
}
#main_lnb ul li:first-child a{
    border-radius: 15px 0 0 15px;
}
#main_lnb ul li:last-child a{
    border-radius: 0 15px 15px 0;
}
#main_lnb ul li:hover a{
    background: #000;
    color: #fff;
}

/* content ..............*/
#content{
    overflow: hidden;
}
#main_section{
    float: left;
    width: 750px;
}

#main_aside{
    float: right;
    width: 200px;
}
.main_article{
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 10px;
}
.main_article h1{
    margin-bottom: 5px;
}
.main_article p{
    line-height: 1.4em;
}

/* tab_item */
.buttons label{
    width: 100px;
    background: #000;
    color: #fff;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.item{
    border: 1px solid #000;
    padding: 10px;
    border-top: none;
}
.item:first-child{
    border-top: 1px solid #000;
}
.item a{
    overflow: hidden;
    display: block;
}
.item:hover a{
    color: #3440cc;
}
.thumbnail{
    float: left;
    margin-right: 10px;
}

.description{
    float: left;
    width: 120px;
}
.description strong{
    display: block;
    /*생략표시 삼총사*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.description time{
    display: block;
    margin-top: 5px;
}


/* footer */
footer{
    
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}





